<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Cadastro de aluno</title>
</head>
<body>
<h3>Cadatro de Aluno</h3>
<form method="post">
    <h3 th:text="${aluno.login}"></h3>
    nome: <input type="text" th:value="${aluno.nome}" name="nome"/>
    cpf: <input type="text" th:value="${aluno.cpf}" name="cpf"/>
    curso: <input type="text" th:value="${aluno.curso}" name="curso"/>
    matricula: <input type="number" th:value="${aluno.matricula}" name="matricula"/>
    login: <input type="text" th:value="${aluno.login}" name="login" readonly="true"/>

    <!--Senha: <input type="password" th:value="${aluno.senha}" name="senha"/>-->
    <!--codigo: <input type="number" th:value="${aluno.codigo}" name="codigo"/>-->
    <button type="submit">Salvar</button>

</form>
    <a th:href="${(#mvc.url('deletarAluno').arg(0, aluno.login)).build()}">Deletar</a>
    <a href="/logout">Logout</a>
</body>
</html>