<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro de aluno</title>
</head>
<body>
    <h3>Cadatro de Aluno</h3>
    <form method="post">
        nome: <input type="text" value="" name="nome"/>
        cpf: <input type="text" value="" name="cpf"/>
        <!--email: <input type="text" value="" name="email"/>-->
        curso: <input type="text" value="" name="curso"/>
        matricula: <input type="number" value="" name="matricula"/>
        login: <input type="text" value="" name="login"/>
        Senha: <input type="password" value="" name="senha"/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>